@import '../../styles/variables.scss';

.quotes {

    margin: auto;
    text-align: center;

    h1 {
        font-family: 'Jim Nightshade', cursive;
    }

    &__quotes__input-back {
        width:100%;
        //font-size: 40px;
    }

    .text-input {
        margin: 30px 0 20px;
    }
}

.info {
    margin-top: 0px;
}

.results {
    padding: 20px 0;
    // background-color: $c-black;

}

.suggest {
    margin: 10px;
    animation: showSuggest 0.6s ease-out;
    // color: $c-black;
    padding:10px;
    text-align: left;
    color: $c-white;
    transition: 0.6s;

    iframe {
        display: block;
    }

    &__hint {
        // color: rgb(0, 162, 255,)
        color: greenyellow;
    }

    &__multi {
        // -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        // -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        // box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        transition: 0.6s ease-out;
        border-radius: 5px;        
        width: 300px;
        // height: 350px;
        display: inline-block;
        cursor: pointer;
        
        > * {
            margin: 5px;
            transition: 0.6s ease-out;
        }

        iframe {
            width: 300px;
            height: 200px; 
        }

        
    }

    &__multi:hover {
        color: white;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);

        p, h1 {
           margin-left: 15px; 
        }
    }

    &__single {
        display: block;
        width: 640px;
        margin: 0 auto;

        h1 {
            font-size: 40px;
        }

        p {
            margin: 10px 0 20px;
            font-size: 20px;
        }

        iframe {
            width: 600px;
            height: 300px; 
        }

       


        
    }

    
}

@keyframes showSuggest {
    0% {
        opacity: 0;
        transform: translateY(20px);
        
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}



@media only screen and (max-width: 767px) {

    .quotes {
        &__input-info {
            margin-top: 20vh;
            //font-size: 40px;
        }
                
    }

    .info {
        margin-top: 40px;
        font-size: 15px;
    }

    .suggest{
        margin: 0;

        // iframe {
        //     width:80%;
        // }

        &__multi {
            display: block;
            margin: auto;
            width: 90%;
            // width: 300px;
            // height: 350px;
            // display: inline-block;
            iframe {
                width: 100%;
                height: 200px; 
            }   
        }

        &__single {
            display: block;
            width: 100%;
            margin: 0 auto;
    
            h1 {
                font-size: 30px;
            }
    
            p {
                margin: 10px 0 20px;
                font-size: 15px;
            }
    
            iframe {
                width: 100%;
                height: 200px; 
            }   
        }
    }

  }