@import '../../styles/variables.scss';

.input {
    width: 100%;
    display: block;
}

input, textarea {
    width:100%;
    // margin: 10px 0px;
    outline: none;
    color: white;
    border: 1px solid $c-white;
    background-color: black;
    font: inherit;
    padding: 6px 10px;
    transition: background-color .4s ease-in-out, color .4s linear;
}

textarea {
    height: 300px;
    min-width: 100%;
    min-height: 300px;
    max-width: 100%;
    max-height: 50vh;
}

input:focus {
    background-color:white;
    color: black;  
}

textarea:focus {
    background-color:white;
    color: black;  
}

.invalid {

    input, textarea{
        border-color: red;
    }
    
    input:focus {
        color: red;
         
    }
    
    textarea:focus {
        color: red; 
    }
    
}