@import '../../styles/variables.scss';

.channels{
    
    overflow: hidden;
    
    &__playlist{
        width: 700px;
        height: 300px;
        margin: 50px auto;
    }

    // &>h1 {
    //     // float: left;
    //     font-family: 'Jim Nightshade', cursive;
    //     font-size: 40px;
    //     margin-top:50px;
    //     border-bottom: 2px solid red;
    // }

}

.channel {
    transition: 0.3s ease-out;
    display: inline-block;
    width:45%;
    margin: 10px;
    // box-shadow: 2px 2px $c-black;
    font-size: 10px;


    i {
        // opacity:0.;
        color: $c-black;

    }
    
    a {
        color: inherit;
        text-decoration: none;
        float: left;
        color: $c-black;

    }

    &:hover {
        box-shadow: 2px 2px white;

        // opacity: 1;
        // transform: translateX(20px);
        i {
            // opacity:1;
            color: red;
        }
        a {
            
        }
    }
    
}


@media only screen and (max-width: 767px) {

    .channels{
    
        &__playlist{
            width: 90%;
            height: 300px;
        }

        &>h1 {
            font-size: 30px;
            margin-top:30px;
            border-bottom: 2px solid red;
        }
    }

    .channel {

        width:90%;
        margin: 10px;
        box-shadow: 2px 2px white;
        font-size: 10px;
    
        i {
            display: none;
            color: red;
        }
        
        a {
            color: inherit;
            text-decoration: none;
            float: left;
        }
    
        &:hover {
            animation: channelHover 0.4s ease-out;
            i {
                display: inline;
            }
        }
        
    }
  }

