@import "../../styles/variables.scss";

.btn {
  background-color: greenyellow;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  // margin: auto;
  display: block;
  text-transform: uppercase;
  border: 1px solid greenyellow;
  transition: background-color .4s ease-in-out, color .4s linear;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}

.btn:disabled {
  cursor: not-allowed;
  color: #222222;
  background: black;
  border: 1px solid #222222;
}
