@import '../../styles/variables.scss';


.field-list{
    &__element {
        margin-top:5px;
        text-align: left;
        width:90%;
        // border-top: .5px solid white;
        padding: 5px;
        // width:
        p {
            color:$c-gray;
        }
        h4 {
            color:$c-white;
        }
    }
}

