@import '../../styles/variables.scss';


.link-button {
    border: 2px solid white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-out;

    i {
        color: white;
        font-size: 40px;
    }

}

.link-button:hover {
    background-color: white;
    border: 2px solid black;

    i {
        color: black;
        font-size: 40px;
    }

}