$break-desktop-large: 1200px;
$break-desktop: 992px;
$break-mobile: 320px;

@mixin respond-to($media) {
    @if $media==mobile {
        @media only screen and (max-width: $break-mobile) {
        @content;
        }
    }
    @else if $media==all-mobile {
        @media only screen and (max-width: $break-desktop - 1) {
        @content;
        }
    }
    @else if $media==only-desktop {
        @media only screen and (min-width: $break-desktop) and (max-width: $break-desktop-large - 1) {
        @content;
        }
    }
}

@mixin form_template() {
    height:400px;
    width:400px;
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../../images/meksyk.jpg) no-repeat 0px -140px;
    background-size: 100% auto;
    margin: 0 auto;

    > * {
        margin: 10px 0 ;
    }

    @include respond-to(all-mobile) {
        width: 100%;
        min-height: 400px;
        background: url(../../images/meksyk.jpg) no-repeat center;
        background-size: 100% 100% auto;
        position: static;
        transform: translate(0px);   
    }
}


