@import '../../styles/variables.scss';

.home {
    // background-color: black;
    text-align: center;
}

.header {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    img {
        width: 150px;
        height: auto;
    }
    
    h1 {
        // font-weight: 500;
        color: $c-white;
        font-size: 55px; 
        display: inline-block;
        font-family: 'Bilbo Swash Caps';
    }
}

.tile {
    // transition: 5s ease-out;
    width: 33%;
    height: 230px;
    background-color: black;
    text-align: center;
    display: inline-block;
    margin: 0;
    background-color: black;
    color: $c-white;
    position: relative;
    // animation: showTile 2s ease-out;
    font-weight: 600;
    border-radius:10px;

    
    div {
        padding: 20px;  
        transition: 1s ease-out;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        color:#333333;
        background-color: rgb(0, 0, 0);
    }
    
    h2 {
        color:black;
        font-family: 'Jim Nightshade', cursive;
        font-size: 35px;
        // display: none;
        transition: 1s ease-out;

    }

    i {
        font-size:60px;
        transition: .66s ease-out;

    }

    p {
        font-family: 'Share Tech Mono', monospace;
        // display:none;
    }

    &:hover {
        h2 {
            color: white;
            display: block;

        }

        i {
            // display: none;
            color: white;
        }

        div {
            background-color: rgba(0, 0, 0, 0.5);
            
        }

    }

    &1:hover {
        background: url("../../images/tile1.gif") no-repeat center;
        background-size: cover;
        
    }

    &2:hover {
        background: url("../../images/tile3.gif") no-repeat center;
        background-size: cover;
        
    }

    &3:hover {
        background: url("../../images/tile2.gif") no-repeat center;
        background-size: cover;
        
    }

    &4:hover {
        background: url("../../images/tile4.gif") no-repeat center;
        background-size: cover;
       
    }

    &6:hover {
        background: url("../../images/tile6.gif") no-repeat center;
        background-size: cover;
       
    }

    &7:hover {
        background: url("../../images/tile7.gif") no-repeat center;
        background-size: cover;
        
    }

    &8:hover {
        background: url("../../images/tile8.gif") no-repeat center;
        background-size: cover;
        
    }

    
}

.article {
    color:#333333;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
    &__icon-big {
        font-size: 60px;
        color:white;
        
    }

    h3 {
        color:white;

    }
}

@media only screen and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article {
        color:#333333;
        width: 100%;
        height: 400px;
        
    }

    .tile {
      width: 100%;
      height: 200px;
      margin: 0;
      border-radius: 0;
      border-left: none;
      border-right: none;
      animation: show 0.4s ease-out;
    //   opacity: 1;
    //   transform: translateY(0);
    }

    .tile:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    

}

  
@keyframes show {
    0% {
        opacity: 0;
        // transform: translateY(100px);
        
    }
    
    100% {
        opacity: 1;
        // transform: translateY(0);
    }
}

@keyframes tile-hover {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
        // transform: translateY(0);
    }
}
@media only screen and (max-width: 767px) {
    .tile {
        height: 33vh;
    }
  }