@import '../../styles/variables.scss';

.text-input {
    background-color: #111;
    color: white;
    width: 500px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;


    &::placeholder { 
        color: white;
        font-family: 'Share Tech Mono', monospace;
        font-size: 20px;
    }

    &:focus {   
        border-color: rgba(255, 255, 255, 0.801) !important;
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.801) inset, 0 0 8px rgba(255, 255, 255, 0.801) !important;
        outline: 0 none !important;
      }
}

@media only screen and (max-width: 767px) {
    .text-input {
        font-size: 15px;
        width: 75%;

        &::placeholder { 
            font-size: 15px;
        }
    }

  }