.message-box{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}

@media only screen and (max-width: 767px) {
    .message-box{
        // margin-top: 40vh;
        // transform: translateY(-50%);
    
        img {
            width: 200px;
            height: auto;
        }

        h1 {
            font-size: 20px;
        }
    }
  }
