// @import '../../variables.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.user {
    
  &__div {
    // margin:auto;
    display: flex 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    // flex-basis: 0;
    p{
      font-size: 20px;
    }
    >p:nth-child(1){
        font-size: 30px;
    }
  }

  &__buttons {
    margin: auto;
    
  }
  @include respond-to(all-mobile) {
  // background-color: white;

    
  }
}


    
  