@import '../../styles/variables.scss';

.table {
  border:1px solid white;
  border-bottom: 0;
  &__header {
    display: flex;
    color: white;
    border-bottom: 1px solid white;
    padding: 15px;
  }

  &__th {
    color: orange;
    font-weight: bold;

    // font-family: 'Jim Nightshade', cursive;
    // font-size: 25px;    
  }

  &__th, &__td {
    width: 100%;
  }

  &__tr {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid white;
    color: white;
    &:nth-child(2n) {
      // color: wheat;
    }
    a {
      color: inherit;
      // color: orangered;
      text-decoration: none;
    }
  }

  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .table {
    &__header {
      padding: 15px 5px;
    }
  
    &__tr {
      padding: 15px 5px;
    }
  }
}