@import '../../styles/variables.scss';

.db-info {
    // display: block;
    margin: 50px 0 50px;

    &__tile {
        width: 100%;
        padding: 20px 0;

        h1 {
            font-family: 'Jim Nightshade', cursive;
            font-size: 40px;            
        }
        
        div {
            display: inline-block;
            width: 40%;
    
            h1 {
                font-size: 40px;
            }
    
            p {
                font-size: 40px;
                color: orange;
            }
            
        }
    }
}

@media only screen and (max-width: 767px) {
    .db-info {
        display: block;
        margin: 10px 0;
        
        h1 {
            font-size: 32px;
        }
    
        &__tile {
            display: inline-block;
            width: 100%;
            padding: 20px 0;
            
            div {
                display: inline-block;
                width: 100%;
                margin: 10px 0;
        
                h1,p {
                    font-size: 32px;
                }
                
            }
        }
    }    
}