@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';


.auth {
    min-height: 100vh;
    background-size: cover;
    
    &__form {
        @include form_template;
        &__email {
            color: black;
            font-weight: 600;
        }

        & h1 {
            background-color:black;
            color:$c-black;
            margin: 0 auto;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .auth {
        & h1 {
            background-color:black;
            color:$c-black;
            margin: 0 auto;
            text-align: center;
            font-size:20px;
        }
    }
  }