@import './styles/variables.scss';


* {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 500;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
  animation: show 0.6s ease-out;
  position: relative;
}

.container__links {
  padding: 20px 0;
  display: flex;
  flex-flow: row;
  z-index: 100;
}

.container__links .link-button {
  margin: 0 10px;
}

.App {
  text-align: center;
}

@media only screen and (max-width: $m-width) {

  html {
    width: 100%;
  }
  
  .container {
    padding-top: 20px;
    width: 100%;
  }

  .container__links {
    width:100%;
    z-index: 100;
    float: left;
    display: flex;
    position: static;
  }

  .container__links .link-button {
    /* display: inline; */
    margin: 10px;
    width:40px;
    height:40px;
    /* background-color: white; */
  }

  .container__links .link-button i {
    font-size: 28px;
    
  }
}

@keyframes show {
  0% {
      opacity: 0;
  }
  
  100% {
      opacity: 1;
  }
}





