@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.add-song {
    min-height: 100vh;
    background-size: cover;
    
    &__form {
        @include form_template;
        width:600px;
        height:600px;
        
    }
    .red {
        background-color:black;
        color:red;
    }
}

@media only screen and (max-width: 620px) {
    
    .add-song {
      
    }
  }